<div class="cursor md:hidden" appCursor></div>
<div class="w-full overflow-hidden bg-midnight relative">
  <!-- hand image section -->
  <div class="w-32 h-32 sm:w-16 sm:h-16 absolute cursor-pointer" (click)="openSnackBar('logo','Clicked')">
    <img
      src="../assets/svg/adeola-logo-left.svg"
    />
  </div>

  <!-- menu section -->
  <div class="flex justify-center">
    <div
      class="mt-14 sm:mt-10 z-50 fixed sm:px-5 px-10 py-5 w-1/2 sm:w-4/5 border-2 border-charcoal rounded-2xl flex justify-between items-center bg-darkBlue"
    >
      <div class="flex items-center cursor-pointer" (click)="openSnackBar('name-logo','Clicked')">
        <span>
          <img src="../assets/svg/adeola-logo-left.svg" />
        </span>
        <span class="px-4 sm:px-2">
          <img src="../assets/svg/adeola-logo-right.svg" />
        </span>
      </div>
      <div class="flex" (click)="openSnackBar('Menu','Clicked')">
        <div class="font-dDin text-sm md:hidden text-lightGray cursor-pointer">
          MENU
        </div>
        <span class="cursor-pointer">
          <svg width="57" height="20" viewBox="0 0 26 20">
            <path
              fill="transparent"
              stroke-width="1.5"
              stroke="#c4c4c4"
              d="M 2 2.5 L 57 2.5"
            ></path>
            <path
              fill="transparent"
              stroke-width="1.5"
              stroke="#c4c4c4"
              d="M 2 9.423 L 57 9.423"
              opacity="1"
            ></path>
            <path
              fill="transparent"
              stroke-width="1.5"
              stroke="#c4c4c4"
              d="M 2 16.346 L 27 16.346"
            ></path>
          </svg>
        </span>
      </div>
    </div>
  </div>

  <!-- Header Heading and title Section  -->
  <div
    class="mt-60 sm:mt-44 text-white px-14 sm:px-7 xl:px-12 md:px-8 mx-auto max-w-6xl xl:w-full font-mark font-semibold"
  >
    <div
      class="text-8xl lg:text-7xl md:text-5.5xl sm:text-4.5xl letter-spacing"
    >
      <span>turning ideas into </span>
      <br class="sm:hidden" />
      <span>real life </span>
      <span class="add-gradient">Products </span>
      <br class="sm:hidden" />
      <span> is my calling</span> <span class="dot">&#8226;</span>
    </div>
    <!-- view Projects -->
    <div class="mt-28">
      <span
        class="font-dDin text-lightGray tracking-widest sm:text-xs cursor-pointer view-projects"
      >
        VIEW PROJECTS</span
      >
      <div class="w-16 mt-1 horizontal-line bg-lightGray"></div>
    </div>
  </div>

  <!-- hand Image -->
  <div
    class="text-white relative mt-36 mb-32 sm:px-7 px-14 xl:px-12 lg:px-8 flex items-center justify-between"
  >
    <div class="absolute w-56 sm:w-32 right-0 bottom-0">
      <img
        src="../assets/webp/hand-right.webp"
      />
    </div>
    <!-- speaker -->
    <div
      class="w-20 flex items-center border border-purple-900 rounded-3xl px-3 py-2 cursor-pointer"
    >
      <div class="w-6 h-6 bg-white rounded-full"></div>
      <img class="pl-2" src="../assets/svg/unmuted.svg">
    </div>
    <!-- Icons -->
    <div
      class="flex cursor-pointer letter-space items-center gap-6 sm:gap-3 font-dDin text-lightGray text-sm sm:text-xs"
    >
      <a href="https://github.com/adeolaadeoti">👾GH</a>
      <a href="https://twitter.com/adeolajs">🐦TW</a>
      <a href="https://www.linkedin.com/in/adeoladev">💼LD</a>
      <a href="https://www.instagram.com/adeolaadeoti_">📸IN</a>
    </div>
  </div>

  <!-- Hello stranger -->
  <div
    class="px-14 sm:px-7 xl:px-12 sm:leading-relaxed lg:px-8 mx-auto max-w-6xl text-lightGray font-circular sm:text-xs"
  >
    Hello stranger! 👋, my name is adeola and I am a frontend engineer,
    passionate <br class="md:hidden" />
    about digital products that help people experience everyday life, not endure
    it.
  </div>
  <!-- yeah i work hard -->
  <div
    class="mt-44 px-14 xl:px-12 sm:px-7 md:px-8 mx-auto max-w-6xl text-lightGray font-mark"
  >
    <div class="font-semibold text-5xl sm:text-2xl">
      <span class="add-gradient-2">Yeah, I work hard </span> 💼
    </div>
    <div
      class="mt-5 mb-36 font-circular text-lightGray text-sm sm:text-xs font-light"
    >
      Each project is unique. Here are some of my works.
    </div>
  </div>

  <!-- Projects -->
  <div class="max-w-5xl mx-auto sm:w-full">
    <div class="relative mx-28 sm:mx-7 my-44">
      <img
        class="image-index"
        src="../assets/svg/01.svg"
      />
      <div
        class="flex md:flex-col max-w-3xl p-14 lg:p-7 py-14 items-center md:items-start border-2 border-radius border-charcoal bg-darkBlue"
      >
        <div
          class="vertical-writing pl-14 lg:pl-4 word-space font-dDin text-xs text-gray md:hidden"
        >
          NEXT JS, LOCOMOTIVE SCROLL, FRAMER MOTION
        </div>
        <div class="figure justify-center">
          <img
            class="image-border"
            src="../assets/webp/alexxandria-1.webp"
          />
          <img
            class="image-border image-hover"
            src="../assets/webp/alexxandria-2.webp"
          />
        </div>
        <div class="ml-14 md:ml-0 lg:ml-4 md:pt-4">
          <div
            class="mb-14 md:mb-5 text-4xl sm:text-2xl font-bold text-white font-mark"
          >
            Alexxandria <br />
            Forque
          </div>
          <div
            class="cursor-pointer visit-website font-dDin tracking-widest text-seafoam sm:text-xs"
          >
            VISIT THE WEBSITE
          </div>
          <div class="w-20 mt-1 horizontal-line bg-lightGray"></div>
          <div class="mt-24 md:mt-9 flex gap-1 items-center">
            <img
              class="cursor-pointer"
              src="../assets/svg/dribble.svg"
            />
            <img
              class="cursor-pointer"
              src="../assets/svg/github.svg"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="relative mx-28 my-44 sm:mx-7">
      <img
        class="image-index"
        src="../assets/svg/02.svg"
      />
      <div
        class="flex md:flex-col max-w-3xl p-14 py-14 sm:p-7 items-center lg:p-7 md:items-start border-2 border-radius border-charcoal bg-darkBlue"
      >
        <div
          class="vertical-writing pl-14 font-dDin word-space text-xs text-gray md:hidden"
        >
          REACT JS, FRAMER MOTION
        </div>
        <div class="figure">
          <img
            class="image-border"
            src="../assets/webp/safarika-1.webp"
          />
          <img
            class="image-border image-hover"
            src="../assets/webp/safarika-2.webp"
          />
        </div>
        <div class="ml-14 md:ml-0 lg:ml-4 md:pt-4">
          <div class="mb-14 text-4xl font-bold text-white font-mark md:mb-5">
            Safarika
          </div>
          <div
            class="cursor-pointer visit-website font-dDin tracking-widest text-lightOrange sm:text-xs"
          >
            VISIT THE WEBSITE
          </div>
          <div class="w-20 mt-1 horizontal-line bg-lightGray"></div>
          <div class="mt-24 md:mt-9 flex gap-1 items-center">
            <img
              class="cursor-pointer"
              src="../assets/svg/dribble.svg"
            />
            <img
              class="cursor-pointer"
              src="../assets/svg/github.svg"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="relative mx-28 my-44 sm:mx-7">
      <img
        class="image-index"
        src="../assets/svg/03.svg"
      />
      <div
        class="flex md:flex-col max-w-3xl p-14 py-14 sm:p-7 md:items-start items-center border-2 border-radius border-charcoal bg-darkBlue"
      >
        <div
          class="vertical-writing pl-14 lg:pl-4 font-dDin word-space text-xs text-gray md:hidden"
        >
          NEXT JS, LOCOMOTIVE SCROLL, FRAMER MOTION
        </div>
        <div class="figure">
          <img
            class="image-border"
            src="../assets/webp/heatrow-1.webp"
          />
          <img
            class="image-border image-hover"
            src="../assets/webp/heatrow-2.webp"
          />
        </div>
        <div class="ml-14 md:ml-0 lg:ml-4 md:pt-4">
          <div class="mb-14 md:mb-5 text-4xl font-bold text-white font-mark">
            Heatrow <br />
            Estate
          </div>
          <div
            class="cursor-pointer visit-website font-dDin tracking-widest text-lightBlue sm:text-xs"
          >
            VISIT THE WEBSITE
          </div>
          <div class="w-20 mt-1 horizontal-line bg-lightGray"></div>
          <div class="mt-24 md:mt-9 flex gap-1 items-center">
            <img
              class="cursor-pointer"
              src="../assets/svg/dribble.svg"
            />
            <img
              class="cursor-pointer"
              src="../assets/svg/github.svg"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="relative mx-28 my-44 sm:mx-7">
      <img
        class="image-index"
        src="../assets/svg/04.svg"
      />
      <div
        class="flex md:flex-col max-w-3xl p-14 py-14 md:items-start sm:p-7 items-center border-2 border-radius border-charcoal bg-darkBlue"
      >
        <div
          class="vertical-writing pl-14 lg:pl-4 font-dDin word-space text-xs text-gray md:hidden"
        >
          HTML, SCSS, JAVASCRIPT, GSAP
        </div>
        <div class="figure">
          <img
            class="image-border cursor-pointer"
            src="../assets/webp/adeola-1.webp"
          />
          <img
            class="image-border image-hover"
            src="../assets/webp/alexxandria-1.webp"
          />
        </div>
        <div class="ml-14 md:ml-0 md:pt-4 lg:ml-4">
          <div class="mb-14 md:mb-5 text-4xl font-bold text-white font-mark">
            AdeolaAdeoti <br />
            version 1
          </div>
          <div
            class="cursor-pointer font-dDin tracking-widest visit-website text-magenta sm:text-xs"
          >
            VIEW SOURCE CODE
          </div>
          <div class="w-20 mt-1 horizontal-line bg-lightGray"></div>
          <div class="mt-24 md:mt-9 flex gap-1 items-center">
            <img
              class="cursor-pointer"
              src="../assets/svg/dribble.svg"
            />
            <img
              class="cursor-pointer"
              src="../assets/svg/github.svg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Braging -->
  <div class="bg-black py-20 sm:py-14">
    <div class="px-14 sm:px-7 xl:px-12 md:px-8 mx-auto max-w-6xl">
      <div class="text-lightGray font-bold font-mark text-5xl sm:text-2xl">
        Mmmm, a little brag 😊
      </div>
      <div class="mt-4 font-circular text-gray word-space text-base sm:text-xs">
        What people are saying about my last portfolio
      </div>
    </div>

    <!--tweets-->

    <!--1st list -->
    <div class="animation font-circular mt-20 sm:mt-10 text-sm flex">
      <div
        class="bg-darkNavy flex-shrink-0 rounded-2xl m-4 p-6 max-w-lg"
        *ngFor="let tweets of list"
      >
        <div class="flex justify-between items-center">
          <div class="text-darkGray">
            <div class="text-xxl tracking-widest">{{ tweets.name }}</div>
            <div class="mt-4 text-lg sm:text-sm font-thin">
              @{{ tweets.username }}
            </div>
          </div>
          <div class="w-6 h-5">
            <img src="../assets/svg/twitter.svg" />
          </div>
        </div>
        <div
          class="pt-4 text-lg sm:text-sm font-thin text-white leading-relaxed"
        >
          {{ tweets.content }}
        </div>
      </div>
    </div>

    <!-- 2nd list -->
    <div class="animation2 font-circular text-sm flex mb-10">
      <div
        class="bg-darkNavy flex-shrink-0 rounded-2xl m-4 p-6 max-w-lg"
        *ngFor="let tweets of list"
      >
        <div class="flex justify-between items-center">
          <div class="text-darkGray">
            <div class="text-xxl tracking-widest">{{ tweets.name }}</div>
            <div class="mt-4 text-lg sm:text-sm font-thin">
              @{{ tweets.username }}
            </div>
          </div>
          <div class="w-6 h-5">
            <img src="../assets/svg/twitter.svg" />
          </div>
        </div>
        <div
          class="pt-4 text-lg sm:text-sm font-thin text-white leading-relaxed"
        >
          {{ tweets.content }}
        </div>
      </div>
    </div>
  </div>

  <!-- Sold yet -->
  <div class="mt-28 sm:mt-16 px-14 xl:px-12 md:px-8 mx-auto max-w-6xl sm:px-7">
    <div class="text-5xl font-mark font-bold text-white sm:text-2xl">
      <span class="add-gradient-2">Sold Yet?</span> 🤙
    </div>
    <!-- view Projects -->
    <div class="mt-10 pr-10 md:pr-0">
      <span
        class="font-circular text-4xl sm:text-2xl leading-relaxed font-medium text-lightGray md:text-3xl"
      >
        Thanks for stopping by, I’m currently looking to join a new team of
        creative designers and developers. If you think we might be a good fit
        for one another, give me a
        <span class="font-bold"> call 🇳🇬 </span> or send me an
        <span class="font-bold"> email 📧</span>
        <span class="font-bold">.</span>
      </span>
    </div>
  </div>

  <!-- stanger -->
  <div class="mt-28 px-14 sm:px-7 xl:px-12 md:px-8 mx-auto max-w-6xl">
    <div class="text-5xl sm:text-2xl font-mark font-bold text-white">
      <span class="add-gradient-2">Dont be a stranger!</span> 👋
    </div>
    <!-- view Projects -->
    <div class="mt-5 font-circular text-sm text-lightGray">
      Connect with me online
    </div>
    <div
      class="mt-10 letter-space flex cursor-pointer sm:justify-between items-center gap-5 sm:gap-2 font-dDin text-lightGray text-base sm:text-xs"
    >
      <a href="https://github.com/adeolaadeoti">👾GITHUB</a>
      <a href="https://twitter.com/adeolajs">🐦TWITTER</a>
      <a href="https://www.linkedin.com/in/adeoladev">💼LINKEDIN</a>
      <a href="https://www.instagram.com/adeolaadeoti_">📸INSTRGRAM</a>
    </div>
  </div>

  <!-- footer -->

  <div class="mt-28 horizontal-line bg-darkGray"></div>
  <div class="py-7 px-14 xl:px-12 sm:px-7 md:px-8 flex justify-between">
    <img
      class="cursor-pointer" (click)="openSnackBar('footer-logo','Clicked')"
      src="../assets/svg/adeola-logo-footer.svg"
    />
    <div class="flex gap-4 items-center">
      <img
        class="cursor-pointer"
        src="../assets/svg/dribble.svg"
      />
      <img
        class="cursor-pointer"
        src="../assets/svg/github.svg"
      />
    </div>
  </div>
</div>
